<ion-header>
  <ion-toolbar>
    <ion-title><img src="../../assets/Name and Logo.png" alt="Register"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="Back">
  <img src="../../assets/PedalLogo.png" alt="Logo" class="Logo">
  <img src="../../assets/image 2.2.png" alt="Human" class="Human">
  <img src="../../assets/Group24.png" alt="Police" class="Police">
  <ion-button expand="block" href="tabs/civilian" color="clear" class="Oof"><p class="Text">Civilian</p></ion-button> 
  <ion-button expand="block" href="tabs/police" color="clear" class="Oof2"><p class="Text2">Police</p></ion-button> 
</ion-content>
