.Back{
    --ion-background-color: #05386B;
}
.Logo{
    position: absolute;
width: 297.27px;
height: 118px;
left: 63px;
top: 113px;
}
.Civil{
     position: absolute;
width: 330px;
height: 50px;
left: 42px;
top: 308px;

border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 25px;
}
.Text{
    position: absolute;
width: 68px;
height: 25px;
left: 50px;
top: -7px;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 25px;
/* identical to box height */


color: #FFFFFF;


}
.Human{
    position: absolute;
width: 33px;
height: 33px;
left: 50px;
top: 317px;
}
.Poli{
    position: absolute;
    width: 330px;
    height: 50px;
    left: 42px;
    top: 428px;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
}
.Police{
    position: absolute;
width: 33px;
height: 33px;
left: 50px;
top: 441px;
}
.Oof{
    position: absolute;
width: 330px;
height: 50px;
left: 40px;
top: 305px;

border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 25px;
}
.Oof2{
    position: absolute;
    width: 330px;
    height: 50px;
    left: 38px;
    top: 428px;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
}
.Text2{
    position: absolute;
width: 68px;
height: 25px;
left: 50px;
top: -7px;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 25px;
/* identical to box height */


color: #FFFFFF;

}